@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3a3e3f;
    color: #333;
}

header {
    background-color: #00695c;
    color: white;
    padding: 1em 0;
    text-align: center;
    animation: fadeIn 2s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 2s;
}

section h2 {
    color: #00695c;
}

form {
    max-width: 600px;
    margin: 0 auto;
    animation: fadeInUp 2s;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #00695c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #004d40;
}

form .g-recaptcha {
    margin: 10px 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


.about-section {
    padding: 2em;
    margin: 1em 0;
    background: url('images/tesla-roadster.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    position: relative;
    animation: fadeInBackground 2s;
}

.about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay to improve text readability */
    z-index: 1;
}

.about-section .content {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.3); /* Adjusted transparency */
    padding: 2em;
    border-radius: 10px;
    color: #fff; /* Set text color to white */
    animation: slideInFromLeft 1s;
}

.home-section {
    padding: 2em;
    margin: 1em 0;
    background: url('images/Bense.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    position: relative;
    animation: fadeInBackground 2s;
}

.home-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay to improve text readability */
    z-index: 1;
}

.home-section .content {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.3); /* Adjusted transparency */
    padding: 2em;
    border-radius: 10px;
    color: #fff; /* Set text color to white */
    animation: slideInFromLeft 1s;
}

h2, h3 {
    color: #00e676;
}

@keyframes fadeInBackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInFromLeft {
    from { opacity: 0; transform: translateX(-100%); }
    to { opacity: 1; transform: translateX(0); }
}